* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body { 
  margin: 0;
  overflow: hidden;
    height: 100vh;
    background: #111;
    background: #000;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url("https://preview.colorkit.co/color/0a0a0a.png?size=social&type=opengraph");
  padding: 0px 10px;
  z-index: 0;
  box-shadow: 0 2px 10px rgba(121, 118, 118, 0.5) ;
}

header div.title{
  text-align: center;
  flex-grow: 1;
  color: #333;
  font-size: 5em;
  z-index: 0;
  text-shadow: 0px 0px 15px rgba(121, 118, 118, 0.5);
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  text-align: center;
  color: #ffffff;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

header a:hover {
  background-color: #363636;
  color: #ffffff;
}

header a.active {
  background-color: #363636;
}
header a.log-in:hover {
  background-color: #d91111;
  color: #ffffff;
}
header a.log-in {
  background-color: #363636;
}

nav {
  display: flex;
  align-items: center;
  }
  

  
  section {
    display: grid;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: -1;
  }
  .box {
    display: flex;
    
    color: #333;
    font-size: 5em;
    z-index: 0;
    text-shadow: 0 5px 10px rgba(121, 118, 118, 0.5);
    
  }
  .welcome_text {
    overflow: hidden;
    animation: typing 1s steps(30, end) forwards ;
  }
  .cursor {
    animation: blink 1s infinite;
  }
  span {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    background-size: auto;
    pointer-events: none;
    background: #e91e62;
    animation: animate 5s linear infinite;
    z-index: -1;
    
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(0deg);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(1) translateY(-500%) rotate(360deg);
      opacity: 0;
    }
  }
  @keyframes typing {
    from {width: 0;}
    to {width: 100%;}
  }
  @keyframes blink {
   0% {
    opacity: 0;
   }
   100% {
    opacity: 1;
   }
  }
